<label>
  {{label}}
  <p>
    <input
      type="{{type}}"
      name="{{name}}"
      id="{{id}}"
      value="{{value}}"
      placeholder="{{placeholder}}"
       {{#if required}}required{{/if}}
       {{#if disabled}}disabled{{/if}}
       {{#if class}}class="{{class}}"{{/if}}
    />
  </p>
</label>